


.custom__pane-one {
	/*background-color: #9fc5e8;*/

}

.custom__image-patient {
	position: absolute;
	left: 15%;
	width: 10%;

}

.custom__image-neuron {

	position: absolute;
	left: 35%;
	width: 10%;

}

.custom__pane-two {
	/*background-color: #9fc5e8;*/
	height: 110vw;

}

.custom__center-title {

	text-align: center;
	font-size: 72px;
	font-weight: 100;

}

.custom__svg-one {
	position: absolute;
	z-index: 10;
	width: 80%;
	left: 10%;


}

.custom__centers {
	position: relative;
	top: 15vw;
	left: 10%;

}

.custom__approaches {
	position: relative;
	top: 29vw;

}

.custom__center-image {
	width: 16%;
	float: left;
	position: relative;

}

.custom__approach-image {
	width: 25%;
	float: left;
	margin-left: 10%;
	position: relative;

}

.custom__approach-image-first {
	margin-left: 16% !important;
}

.custom__center-name,
.custom__approach-name {
	position: absolute;
	bottom: 20px;
	margin-left: 10px;
	z-index: 20;

}


.custom__center-expertise,
.custom__approach-center {
	position: absolute;
	bottom: 0px;
	margin-left: 10px;
	z-index: 20;

}

.custom__center-name,
.custom__center-expertise {
	color: white !important;

}

.custom__center-name:hover,
.custom__center-expertise:hover {
	text-decoration: underline;

}

.custom__pane-three {
	height: 1000px;
	background-color: #f5f5f5;
}
