
.custom__link {
	color: #494e52 !important;
}

.page__title,
.custom__title {
	text-align: center;
	font-size: 72px;
	font-weight: 100;
	margin-top: 30px;
}

.custom__pane-one {
	height: 45vw;

}

.custom__row {
	width: 100%;
}

.custom__flow-chart {
	position: static;
	width: 80%;
	margin-left: 10%;
}

.custom__row > * {
	position: static;
	float: left;
}
.custom__pane-one .custom__cells {
	width: 35%;
	opacity: 1.0;
}
.custom__pane-one .custom__cells-name {
	text-align: center;
	font-size: 1.5vw;
	margin-top: 10px;
}

/*.custom__pane-one .custom__cells:hover img,
.custom__pane-one .custom__cells:hover svg {
	opacity: 0.2;
	transition: all 0.2s ease-in-out;
}

.custom__pane-one .custom__cells:hover h3 {
	opacity: 0;
	transition: all 0.2s ease-in-out;
}
*/
.custom__pane-one .custom__cells .custom__cell-image {
	float: left;
	overflow: visible;
}

.custom__pane-one .custom__cells .custom__right-arrow {
	width: 25%;
	float: left;
}

.custom__pane-one .custom__assays {
	width: 65%;

}

.custom__pane-one .custom__assay-image {
	width: 25%;
	float: left;
	position: relative;
	overflow: hidden;
	border: 4px solid #222222;
	border-right: 0px !important;
}

.custom__pane-one .custom__assay-name,
.custom__pane-one .custom__approach-name {
	position: absolute;
	top: 10px;
	width: 100%;
	margin-bottom: 0em;
	padding-left: 5px;
	z-index: 20;
	font-size: 1.5vw;
	text-align: center;
}

.custom__pane-one .custom__assay-name {
	background-color: black;
	text-shadow: 1px 1px 3px black;
	color: white !important;
}
.custom__pane-one .custom__approach-name {
	background-color: white;
	border: 4px solid #dddddd;
}


.custom__pane-one .custom__approach-name,
.custom__pane-one .custom__cells-name {
	color: black !important;

}
.custom__pane-one .custom__description {
	width: 35%;
	padding-right: 40px;
	clear: both;
	min-height: 300px;
}
.custom__pane-one .custom__description h2 {
	font-weight: 400;
	font-size: 1.5vw;
	margin: 0px;
	border: 4px solid #dddddd;
	padding: 20px;
	height: 22vw;
	overflow: scroll;
	margin-top: 2vw;

}

.custom__pane-one .custom__perturbations {
	width: 16.5%;
}
.custom__pane-one .custom__perturbations .custom__assay-image {
	width: 100%;
}
.custom__pane-one .custom__perturbations .custom__up-arrow {
	width: 33%;
	margin: 10% 2% 5% 38%;
}

.custom__pane-one .custom__approaches {
	width: 48.5%;
}

.custom__pane-one .custom__approach-image {
	width: 80%;
	float: left;
}

.custom__pane-one .custom__approaches .custom__down-arrow {
	width: 11%;
	float: left;
	margin: 3% 0% 2% 55%;
}
.custom__pane-one .custom__approaches .custom__left-arrow {
	width: 15%;
	float: left;
	clear: both;
	margin: 4vw 2% 0px;
}


/* Data Page Styles: */

.custom__pie-chart {
	margin-bottom: 50px;
}

.custom__pie-chart {
	width: 60%;
	margin-left: 20%;
}
.custom__bar-chart {
	width: 100%;
}

.descriptions::-webkit-scrollbar {
    display: none;
}



/* Hover effect from tympanus/codrops: http://tympanus.net/codrops/2011/11/02/original-hover-effects-with-css3/ */

.view {
    overflow: hidden;
    position: relative;
}
.view .mask, .view .content {
    position: absolute;
    overflow: hidden;
    top: 1.5vw;
    left: 0;
    padding: 10px;
}
.view img {
    display: block;
    position: relative;
}
.view p {
    font-size: 1vw;
    position: relative;
}
.view-tenth img {
	transform: scaleY(1);
	transition: all 0.2s ease-in-out;
}
.view-tenth .mask {
    transition: all 0.2s linear;
    opacity: 0;
}
.view-tenth p {
    color: #333;
    opacity: 0;
    transform: scale(0);
    transition: all 0.2s linear;
}

.view-tenth:hover img {
	transform: scale(1.2);
    opacity: 0.8;
}
.view-tenth:hover .mask {
	opacity: 1;
}
.view-tenth:hover h2,
.view-tenth:hover p {
    transform: scale(1);
    opacity: 1;
}


/* Modifications on hover effect needed for our purposes: */

.custom__approach-image .mask p {
	top: 2vw !important;
}
.custom__cells .mask {
	top: 0px !important;
}
